
<header>
  <div class="custom-container">
    <div class="header-top-inner">
      <div class="header-logo">
        <img src="{{ "grow-light-logo.webp" | asset_url }}" alt="Grow Light Logo" width="100" height="100">
      </div>
      <div class="header-left">
        <div class="">
          <div class="">
            <a href="#">support@growlightheaven.com</a>
            <a href="#">(914) 219-6983</a>
            <span>Mon-Fri: 9AM - 5PM EST</span>
          </div>
          <div class="">
            <a href="#">Commercial Pricing</a>
            <a href="#"> Get Rebates</a>
            <a href="#">Facility Design</a>
          </div>
        </div>
        <div class="">
          <div class="">
            <input class="" type="text">
            <button>{% render 'svg-icons', name: 'search-icon' %}</button>
          </div>
          <div class="">
            <div class="">
              {% render 'svg-icons', name: 'user-icon' %}
              <span class="white">Sign In</span>
            </div>
            <div class="">
              {% render 'svg-icons', name: 'wishlist-icon' %}
              <span class=""> My Wishlist</span>
            </div>
            <div class="">
              {% render 'svg-icons', name: 'cart-icon' %}
              <span class="">My Cart</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
