@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  /* margin: 0px;
  padding: 0px; */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.custom-container {
  width: 100%;
  max-width: 1590px;
  padding: 0 25px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .custom-container {
    padding: 0 15px;
  }
}


a{
  color: inherit;
  text-decoration: none;
}
li{
  list-style: none;
}
/* *************** Top Header*************** */

/* .header-top-inner{
  gap: 40px;
}
.header-left-top{

  gap: 40px;
}
.header-left-bottom{
 
  gap: 25px;
} */

.jdgm-medals-wrapper .jdgm-medals-separator {
    height: 1px;
    width: 141px;
    margin: 0;
    display: none !important;
    background-color: #E9EAEB;
    display: none;
}
.jdgm-widget.jdgm-medals-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #108474;
}
#shopify-block-AaUd3emhyN2hralU0Z__judge_me_reviews_medals_Yy7J{
    position: absolute;
    /* bottom: 500px; */
    z-index: 10;
    right: 135px;
    top: 2145px;
}