@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.custom-container {
  width: 100%;
  max-width: 1590px;
  padding: 0 25px;
  margin: 0 auto;
}